<html>
  <head>
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/assets/style.css" type="text/css" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <% include partials/nav.ejs %>

    <div style="position: relative">

        <div class="imgwrapper">
          <img id="home-top-pic" class="img-responsive" alt="" data-type="image" src="https://static.wixstatic.com/media/84770f_28087d8b79234fda82c1b8a1a811859e.jpg/v1/fill/w_1869,h_473,al_c,q_85/84770f_28087d8b79234fda82c1b8a1a811859e.webp">
        </div>

        <div style="left: calc((100% - 439px) * 0.5); width: 439px; position: absolute; top: 150px; height: 151px; border-style: solid; border-color: white" class="" id="" >
          <div style="left: 35px; width: 368px; position: absolute; top: 28px;" class="" id="" >
              <h5 style="text-align:center; line-height:1.7em;" class="">
                <span class="">
                  <span style="line-height:1.7em;">
                    <span style="letter-spacing:0.2em; color: #fff">SANTA CLARA UNIVERSITY</span>
                  </span>
                </span>
              </h5>
              <h2 style="text-align:center; color: #fff" class="font_2"><span style="letter-spacing:0.2em;"><span class="color_11">TZUCHIEN WANG</span></span></h2>
          </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
          <div class=" section">
              <div class="">
                  <h1 class="title m-bot-50">Let me introduce myself.</h1>
              </div>

              <div class="media profile-div row">
                  <div class="col-md-4 col-sm-12 profile-left ">
                      <a href="#">
                          <img alt="" id="profile-pic" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAu7AAAAJDE3MDMxNzdjLTc3YTQtNDg0Ny1iYTc1LWFhNDg2ZDRiNzA1MQ.jpg">
                      </a>
                  </div>
                  <div id="introduction" class="col-md-8 col-sm-12">
                      <p>My name is TzuChien Wang, and I’m currently studying in Computer Science at Santa Clara University as a graduate student.
                         Though my bachelor major is EE, but I found out that my real interest is actually in software development.
                          In order to improve myself, I took many online courses and did some project out of my own interest.
                      </p>
                      <p>Also, I worked in a start-up company in Taiwan as a backend developer intern. Our team was building a web-based ERP system for Taiwan Carrefour, and during my internship, I built the budget management block for our system by myself.
                         It was a great experience that not only solidated my skills in web developing but also gave me the chance to know how to utilized the knowledge I possessed in real life.
                      </p>
                  </div>
              </div>

              <div class="row profile-div">
                  <div class="col-md-6 col-sm-6">
                      <h3 class="text-uppercase font-bold">Profile</h3>

                      <ul class="info-list list-unstyled">
                          <li>
                              <label>Full Name:</label>
                              <span>TzuChien Wang</span>
                          </li>
                          <li>
                              <label>Birth Date:</label>
                              <span>04 Jan</span>
                          </li>
                          <li>
                              <label>Job:</label>
                              <span>Student</span>
                          </li>
                          <li>
                              <label>Website:</label>
                              <a href='https://mysterious-headland-88898.herokuapp.com'>https://mysterious-headland-88898.herokuapp.com</a>
                          </li>
                          <li>
                              <label>Git hub:</label>
                              <a href='https://github.com/derekwang1994'>https://github.com/derekwang1994</a>
                          </li>
                          <li>
                              <label>Email:</label>
                              <span>derekwang1994@yahoo.com</span>
                          </li>

                      </ul>
                  </div>
                  <div class="col-md-6 col-sm-6">
                      <h3 class="text-uppercase font-bold">Skills</h3>

                        <p> <b>	Language: </b> &nbsp Java, PHP, Python, HTML, CSS, JavaScript, SQL </p>
                        <p> <b> Platform: </b> &nbsp&nbsp&nbsp   NodeJS, Express, Bootstrap, jQuery, Ajax, EJS </p>
                        <p> <b> Database: </b> &nbsp  MySQL, SQL Server, MongoDB </p>
                        <p> <b> Tools: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Heroku, Git </p>
<!--
                      <div class="progress mild-progress-style">
                          <div class="progress-bar" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%">
                              <div class="skills-info">Web Development <span>66%</span></div>
                          </div>
                      </div>

                      <div class="progress mild-progress-style">
                          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                              <div class="skills-info">Data Analysis <span>70%</span></div>
                          </div>
                      </div>

                      <div class="progress mild-progress-style">
                          <div class="progress-bar" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%">
                              <div class="skills-info">HTML &amp; CSS <span>89%</span></div>
                          </div>
                      </div>

                      <div class="progress mild-progress-style">
                          <div class="progress-bar" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100" style="width: 83%">
                              <div class="skills-info">WordPress <span>83%</span></div>
                          </div>
                      </div>

                      <div class="progress mild-progress-style">
                          <div class="progress-bar" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100" style="width: 76%">
                              <div class="skills-info">Photoshop <span>76%</span></div>
                          </div>
                      </div> -->
                      <!--progress bar end-->

                  </div>
              </div>
              <div class="text-center m-top-50 section">
                  <a class="btn btn-primary btn-icon btn-radius" id="download-btn" target="_blank" href="https://drive.google.com/file/d/0B0zsFo1eh3JGSUV5U0ZtYlRyV3M/view?usp=sharing " title="">Download Resume</a>
              </div>
          </div>
        </div>

    </div>
  </body>
</html>
