<html>
  <head>
    <title>Register</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/assets/style.css" type="text/css" />
    <script src="/script/register.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  </head>
  <body class="darkBlue">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/sweetalert2/5.3.5/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/sweetalert2/5.3.5/sweetalert2.min.js"></script>

    <% include partials/nav.ejs %>
    <div class="register">
      <form id="register-form" class="register">
        <input type="email" required class="input-lg register" placeholder="Email" name="username" onblur="checkUsername(this.value)">
        <br>
        <input type="password" required class="input-lg register" placeholder="Password" name="password">
        <br>
        <input type="password" required class="input-lg register" placeholder="Type your password again" name="rePassword">
        <br>
        <button type="submit" id="submit-button" class="btn btn-danger register">Register</button>
      </form>

    </div>

  </body>
</html>
